.image-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.image-nav li img {
	width: 100%;
	height: 100%;
	filter: grayscale(75%);
	cursor: pointer;
	transition: filter 300ms ease;
	margin-bottom: 2px;
}
/*
.image-nav li img.selected {
	height: 20px;
}*/

.image-nav li img:hover {
	filter: none;
	transition: filter 300ms ease;
}
